@import "tailwindcss";

@theme {
    --color-cyan-50: #E0FCFF;
    --color-cyan-400: #2ED9FF;
    --color-cyan-500: #00F0FF;
    --color-cyan-600: #00D2E0;
    --color-cyan-900: #064E57;
    --color-cyan-950: #022E33;

    --color-red-500: #FF0055;
    --color-red-600: #D90048;
    --color-red-900: #660022;

    --color-neutral-50: #F8F7FA;
    --color-neutral-100: #E1DFE6;
    --color-neutral-200: #D6D0D0;
    --color-neutral-300: #B8B2C2;
    --color-neutral-400: #9890A6;
    --color-neutral-500: #7A708A;
    --color-neutral-600: #5C526E;
    --color-neutral-700: #403652;
    --color-neutral-800: #251C36;
    --color-neutral-900: #0D0221;
    --color-neutral-950: #050505;

    --color-cyber-DEFAULT: #14B8A6;
    --color-cyber-50: #F0FDFA;
    --color-cyber-200: #99F6E4;
    --color-cyber-700: #0F766E;
    --color-cyber-800: #115E59;
    --color-cyber-900: #134E4A;
    --color-cyber-950: #042F2E;

    --font-display: "Chakra Petch", sans-serif;
    --font-sans: "Bai Jamjuree", sans-serif;
    --font-mono: "Share Tech Mono", monospace;
    --font-code: "Share Tech Mono", monospace;
}

@utility cyber-grid {
    @apply grid grid-cols-1 md:grid-cols-4 lg:grid-cols-12 gap-4 lg:gap-6 2xl:gap-10;
}

:root {
    font-family: var(--font-sans);
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark;
    color: var(--color-cyan-50);
    background-color: var(--color-cyber-950);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    min-width: 320px;
    overflow: hidden;
    /* Prevent scrolling for SPA feel */
}

/* Scrollbar Customization */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: var(--color-cyber-900);
}

::-webkit-scrollbar-thumb {
    background: var(--color-cyan-900);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-cyan-600);
}

/* Utility for removing rounded corners enforced by browser UA or libraries */
* {
    border-radius: 0 !important;
}

/* Selection */
::selection {
    background: var(--color-cyan-900);
    color: var(--color-cyan-50);
}

@keyframes scanline {
    0% {
        top: 0%;
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        top: 100%;
        opacity: 0;
    }
}